BOT_TOKEN=8922972247:AAGbc4tYV51F3zxAGA3SuLcBY7PCyGRbXoE
BOT_USERNAME=casefightbot
DATABASE_URL=postgresql+asyncpg://neondb_owner:npg_Icat0OfK7mzE@ep-shiny-truth-atv0wrse.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require
ADMIN_TELEGRAM_ID=7092015279
SECRET_KEY=maks30042012maksmaks30042012maks
CORS_ORIGINS=https://casefight.onrender.com
APP_URL=https://casefight.onrender.com
DEBUG=false
